<div class="container-fluid">
    <div class="row-auto">
        <div style="font-size: 25px; font-weight: bolder;">Your order:</div>
        <div *ngIf="checkoutList.length < 1" style="font-size:20px; font-weight: bolder;">Your cart is empty!</div>
        <table *ngIf="checkoutList.length !== 0" width="100%">
            <tr>
                <th style="width: 500px;">Product</th>
                <th style="width: 120px;">Quantity</th>
                <th style="width: 100px;">Price</th>
                <th style="width: 100px;">Discount</th>
                <th style="width: 100px;">Total</th>
            </tr>
            <tr *ngFor="let shoppingCartItem of checkoutList">
                <td style="text-align:left;">
                    <div class="tableProductDescription">
                        {{shoppingCartItem.name}} : {{shoppingCartItem.description}}
                        <button (click)="removeItem(shoppingCartItem)" style="font-size: 10px; background-color: rgb(185, 15, 15); float: right;">&times;</button>
                        <div class="productViewDetails" [routerLink]="['/productDetails', shoppingCartItem.id]">
                            View Details
                        </div>
                    </div>
                </td>
                <td>
                    <img src=assets\pictures\minus.png (click)="decrease(shoppingCartItem)">
                    {{shoppingCartItem.quantity}}
                    <img src=assets\pictures\plus.png (click)="increase(shoppingCartItem)">
                </td>
                <td>{{shoppingCartItem.price | currency:'EUR'}}</td>
                <td>{{discount | percent}}</td>
                <td>{{(shoppingCartItem.price*shoppingCartItem.quantity) | currency:'EUR'}}</td>
            </tr>
        </table>
        <div class="totalSum" *ngIf="checkoutList.length !== 0">
            Your total is: {{total | currency:'EUR'}}
        </div>
        <button style="margin-top: 5px;" routerLink="/category">Back to Categories</button>
    </div>
</div>