<div class="detail-section">
    <div class="container-fluid">
        <div class="productName">
            {{shoppingCartItem.name}}
        </div>
        <img class="productImage" [src]="imagePath">
        <div class="productDescription">
            <a style="font-size: 40px; ">Description</a>
            <br>{{shoppingCartItem.description}}
        </div>
        <div class="productPrice">
            Product price:
            <br> {{shoppingCartItem.price | currency: 'EUR'}}
        </div>
        <br><button (click)="addFood(shoppingCartItem)" class="btn btn-primary details">Add to cart</button>
        <br><br><button routerLink="/checkout" class="btn btn-primary details">Back to checkout</button>
    </div>
</div>