<div class="registerPage">
    <div class="container">
        <p class="registration">Registration</p>
        <form (ngSubmit)="onSubmit(userForm.value)" #userForm="ngForm">
            <div class="form-group col-md-2">
                <label class="labels" for="firstName">First Name</label>
                <input placeholder="Gosho" type="text" class="form-control" required ngModel name="firstName" #firstName="ngModel">
                <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                    Please enter valid name!
                </div>
            </div>

            <div class="form-group col-md-2">
                <label class="labels" for="lastName">Last Name</label>
                <input placeholder="Goshev" type="text" class="form-control" required ngModel name="lastName" #lastName="ngModel">
                <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
                    Please enter valid name!
                </div>
            </div>

            <div class="form-group col-md-2">
                <label class="labels" for="city">City</label>
                <input placeholder="Sofia" type="text" class="form-control" required ngModel name="city" #city="ngModel">
                <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
                    Please enter valid name!
                </div>
            </div>

            <div class="form-group col-md-2">
                <label class="labels" for="username">Username</label>
                <input placeholder="goshoJavata" type="text" class="form-control" required ngModel name="username" #username="ngModel">
                <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                    Please enter valid name!
                </div>
            </div>

            <div class="form-group col-md-2">
                <label class="labels" for="password">Password</label>
                <input placeholder="goshkata123" type="text" class="form-control" required ngModel name="password" #password="ngModel">
                <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                    Please enter valid password!
                </div>
            </div><br>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>