<div class="container-fluid">
    <div class="row-auto col-md-2">
        <p class="registration">Registration</p>
        <form (ngSubmit)="onSubmit(userForm.value)" #userForm="ngForm">
            <label class="labels">First Name</label>
            <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName">
            <label class="labels">Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName">
            <label class="labels">City</label>
            <input type="text" class="form-control" [(ngModel)]="city" name="city">
            <label class="labels">Username</label>
            <input type="text" class="form-control" [(ngModel)]="username" name="username">
            <label class="labels">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password">

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>