<div class="container-fluid">
    <div class="row-auto">
        <p class="registration">Registration</p>
        <form (ngSubmit)="onSubmit(userForm.value)" #userForm="ngForm">

            <app-registration-form [fieldName]="'First Name'" [placeholderText]="'Georgi'"></app-registration-form>

            <app-registration-form [fieldName]="'Last Name'" [placeholderText]="'Ivanov'"></app-registration-form>

            <app-registration-form [fieldName]="'From City'" [placeholderText]="'Sofia'"></app-registration-form>

            <app-registration-form [fieldName]="'Username'" [placeholderText]="'goshkata23'"></app-registration-form>

            <app-registration-form [fieldName]="'Password'" [placeholderText]="'GI321'"></app-registration-form>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>