<ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="carousel-inner sliderCategory">
      </div>
      <div class="carousel-caption">
        <h3 class="carousel-caption-categories">Categories</h3>
        <p class="carousel-caption-categories-description" >Chose from vast variety of foods suited for every taste</p>
        <a  routerLink ="/category">Continue to the categories page.</a>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="carousel-inner sliderUser">
      </div>
      <div class="jumbotron-fluid">
        <div class="carousel-caption">
          <h3 class="carousel-caption-user">Login/Register</h3>
          <p class="carousel-caption-user-description">Login it with your profile or join in our community.</p>
          <a routerLink ="/register"><strong style="color:rgb(183, 192, 187); font-size: large;">Create your new account here.</strong></a>
          <p><strong style="color: rgb(183, 192, 187); font-size:large;">OR</strong></p>
          <a routerLink ="/login"><strong style="color:rgb(183, 192, 187); font-size: large;">Login with an existing account.</strong></a>
        </div>
      </div>
    </ng-template>
</ngb-carousel>