<div class="mainPage">
  <div>
    <div class="container py-5">
      <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
          <p class="topic">Categories</p>
        </div>
      </div>
      <div class="row" style="min-width: 70%;">
        <div class="col-lg-8 mx-auto" *ngFor="let category of categories$ | async">
          <!-- List group-->
          <ul class="list-group shadow">
            <!-- list group item-->
            <li class="list-group-item">
              <!-- Custom content-->
              <div class="media flex-lg-row p-3">
                <div class="media-body order-2 order-lg-1">
                  <h5 style="color:rgb(6, 6, 6); font-size:300%; text-align:center;" routerLink="/categoryProducts" (click)="getCategory(category.name)">{{category.name}}</h5>
                  <div class="font-italic text-muted mb-0 small" *ngFor="let food of category.foods">
                    <h6 id="fname" class="font-weight-bold my-2" style=" font-size:240%;">{{food.name}}</h6>
                    <p id="fdesc" style="font-size: 140%;">{{food.description}}</p>
                    <p id="fprice" style="font-size: 140%;">{{food.price}}</p>
                    <button type="button" class="btn btn-success" (click)="addFood(food)">
                      Add to cart!
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>