<mat-drawer-container class="container-fluid" [hasBackdrop]="true" style="position: absolute;">
  <mat-drawer #drawer [mode]="'push'">
    <div class="container-fluid">
      <div class="title">Categories</div>
      <div class="separator"></div>
      <div class="row-lg" *ngFor="let category of categories$ | async" routerLink="/categoryProducts" (click)="getCategory(category.name)">
        {{category.name}}
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="row-12 mainContainer">
      <mat-grid-list cols="4" rowHeight="100px">

        <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'#fcba03'">
          <div class="content">
            <span class="contentSpan">Get your order right from the kitchen</span>
            <img src="assets\pictures\cook.png" style=" height: 80px; position: relative;">
            <img src="assets\pictures\delivery.png" style=" height: 100px; position: relative;">
            <img src="assets\pictures\house.png" style=" height: 120px; position: relative;">
            <span class="contentSpan">delivered to your home</span>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <div class="content">
            <img class="imageFormat" src="assets\pictures\specialOffer.jpg">
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="content">
            <img class="imageFormat" src="assets\pictures\recipes.jpg">
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <div class="contentBrowse" (click)="drawer.toggle()">Browse Categories</div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'red'">
          <div class="content">
            <img class="imageFormat" src="assets\pictures\member.png" style="height: 140px;">
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <div class="content">
            <img class="imageFormat" src="assets\pictures\contactUs.jpeg" style="height: 120px;">
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

  </mat-drawer-content>

</mat-drawer-container>