<form>
    <div class="mb-3 row">
        <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
        <div class="col-xs-3 col-sm-auto">
            <input #enteredValue id="table-filtering-search" class="form-control" type="text" id="search_id"  (keyup)="searchByName(enteredValue.value)">
        </div>
    </div>
</form>


<div>
    <h3 ></h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">City</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">User Role</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i" >
                <th scope="row">{{i + 1}}</th>
                <th scope="row">{{user.firstName}}</th>
                <th scope="row">{{user.lastName}}</th>
                <th scope="row">{{user.city}}</th>
                <th scope="row">{{user.username}}</th>
                <th scope="row">{{user.password}}</th>
                <th scope="row">{{user.userRole}}</th>
                <th>
                    <button type="button" class="btn btn-danger"
                        (click)="openDelete(deleteUserContent, user.username)">Delete</button>
                </th>
                <th>
                    <button type="button" class="btn btn-success"
                        (click)="openEdit(editUserContent, user)">Edit</button>
                </th>
                <ng-template #deleteUserContent let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">User Removal</h4>
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-body">
                        <span>Are you sure you want to delete this User?</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark"
                            (click)="deleteUser(user.username)">Delete</button>
                    </div>
                </ng-template>

                <ng-template #editUserContent let-modal>
                    <div class="modal-header">
                        <h4>Edit user</h4>
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-body">
                        <form #userForm="ngForm" (ngSubmit)="editUser(userForm.value, user.id)">
                            <div class="form-group">
                                <label>Rename user</label>
                                <div>
                                    <input [ngModel]="user.username" name="name" id="name" class="form-control"
                                        placeholder="Enter name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Change first name</label>
                                <div>
                                    <input name="firstName" [ngModel]="user.firstName" id="firstName"
                                        class="form-control" placeholder="Enter First Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Change last name</label>
                                <div>
                                    <input name="lastName" [ngModel]="user.lastName" id="lastName" class="form-control"
                                        placeholder="Enter Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Change city</label>
                                <div>
                                    <input name="city" [ngModel]="user.city" id="city"
                                        class="form-control" placeholder="Enter city">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Change password</label>
                                <div>
                                    <input name="password" [ngModel]="user.password" id="password" class="form-control"
                                        placeholder="Enter password ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Change role</label>
                                <div>
                                    <input name="role" [ngModel]="user.userRole" id="role" class="form-control"
                                        placeholder="Enter role">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-outline-dark">Edit</button>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>  