<div class="container-fluid">

  <div class="row manageMenu">

    <p>Manage Categories</p>
    <div class="d-inline-block" ngbDropdown #categoryDropMenu="ngbDropdown">

      <button type="button" class="btn btn-outline-primary me-2" ngbDropdownAnchor (focus)="categoryDropMenu.open()"> Actions</button>

      <div ngbDropdownMenu class="dropdownMenu">
        <button ngbDropdownItem type="button" class="dropdownItemMenu" (click)="open(createCategoryModal)">Create Category</button>
        <button ngbDropdownItem type="button" class="dropdownItemMenu" (click)="open(deleteCategoryModal)">Delete Category</button>
      </div>

    </div>

  </div>

  <ng-template #createCategoryModal let-modal>

    <div class="modal-header">
      <h3>Category Creation</h3>
      <button class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
      <form>
        <label>Create category</label>
        <input #nameField class="form-control" placeholder="Enter name">
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="createCategory(nameField.value); modal.dismiss('Cross click')">
        Create
      </button>
    </div>

  </ng-template>

  <ng-template #deleteCategoryModal let-modal>

    <div class="modal-header">
      <h3>Category Removal</h3>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
      <form>
        <label>Delete category</label>
        <input #nameField class="form-control" placeholder="Enter name">
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="deleteCategory(nameField.value); modal.dismiss('Cross click')">Delete</button>
    </div>

  </ng-template>

  <div class="row manageMenu">
    <p>Manage Foods</p>
    <div class="d-inline-block" ngbDropdown #foodDropMenu="ngbDropdown">

      <button type="button" class="btn btn-outline-primary me-2" ngbDropdownAnchor (focus)="foodDropMenu.open()">Actions</button>

      <div ngbDropdownMenu class="dropdownMenu">
        <button ngbDropdownItem class="dropdownItemMenu" type="button" (click)="open(createFoodModal)">Add Food</button>
      </div>

    </div>

  </div>

  <ng-template #createFoodModal let-modal>
    <div class="modal-header">
      <h3>Food Creation</h3>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

      <form #foodForm="ngForm" (ngSubmit)="createFood(foodForm.value)">

        <label>Add food</label>
        <input name="food" ngModel #foodNameField="ngModel" class="form-control" placeholder="Enter name">

        <label>Add in category</label>
        <input name="category" ngModel #foodCategoryField="ngModel" class="form-control" placeholder="Enter category name">

        <label>Add price</label>
        <input name="price" ngModel #foodPriceField="ngModel" class="form-control" placeholder="Enter food price">

        <label>Add Description</label>
        <input name="description" ngModel #foodDescriptionField="ngModel" class="form-control" placeholder="Enter food description">

        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark" (click)="createFood(foodForm.value); modal.dismiss('Cross click')">Create</button>
        </div>

      </form>

    </div>
  </ng-template>

  <div class="row">
    <app-food-table [categories]="categories" [filterCategories]="filterCategories"></app-food-table>
  </div>

  <div class="row">
    <app-user-table [users]="users" [filterUsers]="filterUsers"></app-user-table>
  </div>

</div>