<a [routerLink]="['/']">
  <h1>
    <strong style="color:rgb(255, 157, 0);">FoodGuro</strong>
  </h1>
</a>

<img class="guroLogo"  src="assets/pictures/guro-logo.png" alt="Guro logo">

<button class="registerButton" type="button" routerLink="/register" name="Register" >
  Register
</button>

<button class="loginButton" type="button" routerLink="/login" name="Login" >
  Login
</button>

<a class="button fancy-button"  style="color: rgb(0, 0, 0);" >
  <img class="shoppingCart" src="assets/pictures/shopping-cart.PNG" alt="Shopping cart">
  Checkout
</a>