<a class="guroTextLogo" [routerLink]="['/']">FoodGuro</a>

<img class="guroLogo" src="assets/pictures/guro-logo.png" alt="GuroLogoIcon">

<button class="btn registerButton" name="Register" routerLink="/register" *ngIf="!this.isLoggedIn">
  Register
</button>

<button class="btn loginButton" routerLink="/login" name="Login" *ngIf="!this.isLoggedIn">
  Login
</button>

<button class="btn logoutButton" routerLink="/" name="Logout" *ngIf="this.isLoggedIn" (click)="logMeOut()">
  Logout
</button>

<button class="btn adminMenuButton" routerLink="/adminMenu" name="adminMenu" *ngIf="isAdmin()">
  Admin Menu
</button>


<a class="btn checkoutButton" style="color: rgb(0, 0, 0);" *ngIf="this.isLoggedIn" routerLink="/checkout">
  <img class="shoppingCart" src="assets/pictures/shopping-cart.PNG" alt="ShoppingCartIcon">
  Checkout
</a>