<div class="row-lg-9">

  <div class="col-auto logoTextContainer">
    <a class="guroTextLogo" [routerLink]="['/']">
      FoodGuro
    </a>
  </div>

  <div class="col-auto logoContainer">
    <img src="assets/pictures/angryGuroLogo.png" alt="angryGuroLogoIcon" class="angryGuroLogo" *ngIf="isAnnoyed">
    <img class="guroLogo" src={{logoImageIcon}} alt="GuroLogoIcon" (click)="clickCounter()" *ngIf="!isAnnoyed">
  </div>

  <div class="col-auto buttonsContainer">

    <button class="btn registerButton" name="Register" routerLink="/register" *ngIf="!this.isLoggedIn">
      Register
    </button>

    <button class="btn loginButton" routerLink="/login" name="Login" *ngIf="!this.isLoggedIn">
      Login
    </button>

    <button class="btn logoutButton" routerLink="/" name="Logout" *ngIf="this.isLoggedIn" (click)="logMeOut()">
      Logout
    </button>
  </div>

  <div class="col-auto adminContainer">

    <button class="btn adminMenuButton" routerLink="/adminMenu" *ngIf="isAdmin()">
      Admin Menu
    </button>
  </div>

  <div class="col-auto cartContainer">

    <a class="btn checkoutButton" *ngIf="this.isLoggedIn" routerLink="/checkout">
      <div [matBadge]="productCounter" matBadgeSize="small">
        <mat-icon class="shoppingCartIcon">shopping_cart</mat-icon>
      </div>
    </a>
  </div>

</div>