<div class="mainPage">
    <div class="card-container" *ngFor="let food of foods; let i=index;">
        <mat-card class="card-component">
            <mat-card-header>
                <div mat-card-avatar>
                    <img class="avatar-image" [src]="imagePath[i]" alt="Photo of the food">
                </div>
                <mat-card-title>{{food.name}}</mat-card-title>
                <mat-card-subtitle>{{food.category}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="imagePath[i]" alt="Photo of the food">
            <mat-card-content>
                <div>{{food.description}}</div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button style="margin-right: 33%;" class="btn btn-success" routerLink="/checkout">Go to Cart</button>
                <div style="margin-right: 2%">{{food.price | currency:'EUR'}}</div>
                <button mat-button class="btn btn-success" (click)="addFood(food)">Add to Cart!</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>